.sl-autocomplete {
    position: relative
}

.sl-autocomplete-input {
    display: inline-block;
    width: 100%
}

.sl-autocomplete-results-panel {
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    right: 0;
    background: #fff;
    z-index: 99;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    border-radius: 0 0 3px 3px
}

.sl-autocomplete-result {
    cursor: pointer;
    color: #555
}

.sl-autocomplete-result:hover,.sl-autocomplete-result:focus,.sl-autocomplete-result.selected {
    outline: 2px solid #2aabb2;
    outline-offset: -1px;
    color: #111
}

.sl-autocomplete-result:not(:last-child) {
    border-bottom: 1px solid #eee
}

.sl-autocomplete-result-text {
    display: block;
    line-height: 1.25;
    font-size: 13px;
    padding: 5px
}